* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 5vw;
  display: flex;
  flex-direction: column;
}

.algo {
  width: 252px;
  height: 109px;
}

.game {
  background-color: black;
  flex: 1;
  position: relative;
}

.tree {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: red;
}
